#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 { --om-color-0: #4a90e2; --om-color-1: #203f62; --om-color-2: #294f7c; --om-color-3: #315f95; --om-color-4: #396faf; --om-color-5: rgb(255,255,255); --om-color-6: #b4becb; --om-color-7: #646e7b; --om-color-8: #060606; --om-font-0: "Inter"; --om-font-1: "Inter"; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-main { color: var(--om-color-0) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c0 { color: var(--om-color-0) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_1 { color: var(--om-color-0) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c1 { color: var(--om-color-1) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_2 { color: var(--om-color-1) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c2 { color: var(--om-color-2) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_3 { color: var(--om-color-2) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c3 { color: var(--om-color-3) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_4 { color: var(--om-color-3) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c4 { color: var(--om-color-4) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_5 { color: var(--om-color-4) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c5 { color: var(--om-color-5) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_6 { color: var(--om-color-5) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c6 { color: var(--om-color-6) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_7 { color: var(--om-color-6) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c7 { color: var(--om-color-7) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_8 { color: var(--om-color-7) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-color-palette-c8 { color: var(--om-color-8) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_color_9 { color: var(--om-color-8) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-8 { font-size: 0.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-8 { font-size: 0.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-8 { font-size: 0.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-9 { font-size: 0.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-9 { font-size: 0.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-9 { font-size: 0.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-10 { font-size: 0.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-10 { font-size: 0.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-10 { font-size: 0.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-11 { font-size: 0.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-11 { font-size: 0.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-11 { font-size: 0.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-12 { font-size: 0.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-12 { font-size: 0.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-12 { font-size: 0.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-13 { font-size: 0.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-13 { font-size: 0.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-13 { font-size: 0.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-14 { font-size: 0.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-14 { font-size: 0.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-14 { font-size: 0.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-15 { font-size: 0.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-15 { font-size: 0.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-15 { font-size: 0.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-16 { font-size: 1em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-16 { font-size: 1em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-16 { font-size: 1em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-17 { font-size: 1.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-17 { font-size: 1.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-17 { font-size: 1.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-18 { font-size: 1.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-18 { font-size: 1.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-18 { font-size: 1.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-19 { font-size: 1.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-19 { font-size: 1.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-19 { font-size: 1.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-20 { font-size: 1.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-20 { font-size: 1.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-20 { font-size: 1.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-21 { font-size: 1.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-21 { font-size: 1.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-21 { font-size: 1.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-22 { font-size: 1.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-22 { font-size: 1.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-22 { font-size: 1.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-23 { font-size: 1.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-23 { font-size: 1.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-23 { font-size: 1.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-24 { font-size: 1.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-24 { font-size: 1.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-24 { font-size: 1.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-25 { font-size: 1.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-25 { font-size: 1.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-25 { font-size: 1.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-26 { font-size: 1.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-26 { font-size: 1.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-26 { font-size: 1.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-27 { font-size: 1.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-27 { font-size: 1.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-27 { font-size: 1.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-28 { font-size: 1.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-28 { font-size: 1.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-28 { font-size: 1.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-29 { font-size: 1.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-29 { font-size: 1.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-29 { font-size: 1.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-30 { font-size: 1.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-30 { font-size: 1.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-30 { font-size: 1.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-31 { font-size: 1.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-31 { font-size: 1.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-31 { font-size: 1.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-32 { font-size: 2em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-32 { font-size: 2em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-32 { font-size: 2em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-33 { font-size: 2.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-33 { font-size: 2.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-33 { font-size: 2.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-34 { font-size: 2.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-34 { font-size: 2.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-34 { font-size: 2.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-35 { font-size: 2.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-35 { font-size: 2.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-35 { font-size: 2.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-36 { font-size: 2.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-36 { font-size: 2.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-36 { font-size: 2.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-37 { font-size: 2.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-37 { font-size: 2.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-37 { font-size: 2.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-38 { font-size: 2.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-38 { font-size: 2.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-38 { font-size: 2.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-39 { font-size: 2.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-39 { font-size: 2.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-39 { font-size: 2.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-40 { font-size: 2.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-40 { font-size: 2.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-40 { font-size: 2.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-41 { font-size: 2.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-41 { font-size: 2.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-41 { font-size: 2.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-42 { font-size: 2.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-42 { font-size: 2.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-42 { font-size: 2.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-43 { font-size: 2.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-43 { font-size: 2.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-43 { font-size: 2.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-44 { font-size: 2.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-44 { font-size: 2.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-44 { font-size: 2.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-45 { font-size: 2.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-45 { font-size: 2.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-45 { font-size: 2.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-46 { font-size: 2.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-46 { font-size: 2.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-46 { font-size: 2.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-47 { font-size: 2.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-47 { font-size: 2.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-47 { font-size: 2.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-48 { font-size: 3em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-48 { font-size: 3em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-48 { font-size: 3em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-49 { font-size: 3.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-49 { font-size: 3.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-49 { font-size: 3.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-50 { font-size: 3.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-50 { font-size: 3.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-50 { font-size: 3.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-51 { font-size: 3.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-51 { font-size: 3.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-51 { font-size: 3.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-52 { font-size: 3.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-52 { font-size: 3.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-52 { font-size: 3.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-53 { font-size: 3.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-53 { font-size: 3.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-53 { font-size: 3.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-54 { font-size: 3.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-54 { font-size: 3.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-54 { font-size: 3.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-55 { font-size: 3.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-55 { font-size: 3.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-55 { font-size: 3.4375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-56 { font-size: 3.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-56 { font-size: 3.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-56 { font-size: 3.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-57 { font-size: 3.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-57 { font-size: 3.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-57 { font-size: 3.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-58 { font-size: 3.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-58 { font-size: 3.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-58 { font-size: 3.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-59 { font-size: 3.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-59 { font-size: 3.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-59 { font-size: 3.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-60 { font-size: 3.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-60 { font-size: 3.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-60 { font-size: 3.75em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-61 { font-size: 3.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-61 { font-size: 3.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-61 { font-size: 3.8125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-62 { font-size: 3.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-62 { font-size: 3.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-62 { font-size: 3.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-63 { font-size: 3.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-63 { font-size: 3.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-63 { font-size: 3.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-64 { font-size: 4em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-64 { font-size: 4em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-64 { font-size: 4em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-65 { font-size: 4.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-65 { font-size: 4.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-65 { font-size: 4.0625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-66 { font-size: 4.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-66 { font-size: 4.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-66 { font-size: 4.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-67 { font-size: 4.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-67 { font-size: 4.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-67 { font-size: 4.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-68 { font-size: 4.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-68 { font-size: 4.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-68 { font-size: 4.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-69 { font-size: 4.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-69 { font-size: 4.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-69 { font-size: 4.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-70 { font-size: 4.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-70 { font-size: 4.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-70 { font-size: 4.375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-75 { font-size: 4.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-75 { font-size: 4.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-75 { font-size: 4.6875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-80 { font-size: 5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-80 { font-size: 5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-80 { font-size: 5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-85 { font-size: 5.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-85 { font-size: 5.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-85 { font-size: 5.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-90 { font-size: 5.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-90 { font-size: 5.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-90 { font-size: 5.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-95 { font-size: 5.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-95 { font-size: 5.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-95 { font-size: 5.9375em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-100 { font-size: 6.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-100 { font-size: 6.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-100 { font-size: 6.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-105 { font-size: 6.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-105 { font-size: 6.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-105 { font-size: 6.5625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-110 { font-size: 6.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-110 { font-size: 6.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-110 { font-size: 6.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-115 { font-size: 7.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-115 { font-size: 7.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-115 { font-size: 7.1875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-fontsize-120 { font-size: 7.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-button-fontsize-120 { font-size: 7.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-fontsize-120 { font-size: 7.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .ql-font-archivo { font-family: Archivo; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .ql-font-gruppo { font-family: Gruppo; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .ql-font-inter { font-family: Inter; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .ql-font-open-sans { font-family: "Open Sans"; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .ql-font-om-font-1 { font-family: var(--om-font-0); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .ql-font-om-font-2 { font-family: var(--om-font-1); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_font_1 { font-family: var(--om-font-0) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om_font_2 { font-family: var(--om-font-1) !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-tab { line-height: 16; color: rgb(105, 109, 114); border-style: solid; border-color: rgb(179, 183, 187); border-width: 0.0625em; box-shadow: none; background: rgb(255, 255, 255); transform: rotate(-45deg); padding: 0.75em; position: absolute; top: -50%; left: -50%; align-items: flex-end; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-tab-wrapper { width: 9.375em; height: 9.375em; top: 0px; left: 0px; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-popup-close { font-weight: unset; font-style: unset; top: 0.3125em; right: 0.3125em; font-size: 1.5625em; color: var(--om-color-7); background: rgba(247, 147, 29, 0); font-family: Gruppo; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-close { font-weight: unset; font-style: unset; font-size: 0.9375em; color: rgb(0, 0, 0); background: rgb(243, 245, 248); margin: 0.5em; font-family: Gruppo; border-radius: 0.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-ribbon-backgroundColor { color: rgb(255, 255, 255); background: rgb(208, 27, 27); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_4Q1fvVv-I { background: var(--om-color-5); border-radius: 0em; box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 16px 0px; min-height: 18.75em; font-family: "Open Sans"; justify-content: center; align-items: center; width: 28.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_4Q1fvVv-I .om-canvas-content { width: 100%; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #row_oy_UiEn_L { background: transparent; box-shadow: none; border-radius: 0em; padding: 0.625em; font-family: Archivo; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_xOhJxedLr { background: transparent; box-shadow: none; padding: 0.3125em; line-height: 1; color: var(--om-color-3); text-align: center; width: 100%; font-family: Archivo; max-width: 100%; font-size: 1em !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_xOhJxedLr"] { margin: 0.3125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_9QPjeWH8G .om-product-holder { align-items: center; background: transparent; border-radius: 0em; box-shadow: none; margin: 0.625em 2.1875em; width: 15.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-image img { margin: 0em 0.3125em 0em 0em; border-radius: 0em; border-style: solid; border-color: var(--om-color-6); border-width: 0.0625em; box-shadow: none; height: 6.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-swiper-button-prev { color: var(--om-color-0); background-color: rgba(0, 0, 0, 0); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-swiper-button-next { color: var(--om-color-0); background-color: rgba(0, 0, 0, 0); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-name { margin: 0em 0em 0.3125em; text-align: left; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-name span { font-weight: unset; font-style: unset; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-7); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-sku { margin: 0em 0em 0.625em; text-align: left; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-sku span { font-weight: unset; font-style: unset; font-size: 0.8125em; font-family: var(--om-font-1); color: rgb(100, 100, 100); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-price { margin: 0em 0em 0.3125em; text-align: left; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-price span { font-weight: bold; font-style: unset; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-7); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-old-price { margin: 0em 0.3125em 0.3125em 0em; text-align: left; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-old-price span { font-weight: bold; font-style: unset; text-decoration: line-through; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-6); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta { background: rgba(0, 0, 0, 0); border-radius: 0em; border-style: solid; border-color: var(--om-color-0); border-width: 0.25em; box-shadow: none; margin: 0.3125em 0em; padding: 0.9375em; width: 6.875em; height: 2.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta-text { font-weight: bold; font-style: unset; font-size: 0.625em; font-family: var(--om-font-1); color: var(--om-color-0); align-self: center; text-align: center; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #col_SdHj-OMS4 { background: rgba(180, 190, 203, 0); box-shadow: none; border-radius: 0em; padding: 0.3125em; align-items: flex-start; font-family: Archivo; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_zd94dxHdU { background: var(--om-color-5); border-radius: 0em; box-shadow: rgba(0, 0, 0, 0.1) 8px 8px 16px 0px; min-height: 3.125em; font-family: Archivo; padding: 0em 0em 0em 1.875em; justify-content: center; align-items: center; width: 21.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-tab-wrapper-v2 { bottom: 0px; left: 0px; margin: 1.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_zd94dxHdU .om-canvas-content { width: 100%; }
@media (hover: hover) and (pointer: fine) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta:hover { background: var(--om-color-1) !important; border-color: var(--om-color-1) !important; }
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_9QPjeWH8G .om-product-cta:hover .om-product-cta-text { color: var(--om-color-0); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-overlay { background: rgba(49, 80, 85, 0.85); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-popup-close { top: 0.125em; right: 0.125em; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-teaser-close { font-family: Gruppo; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_4Q1fvVv-I { width: 5.125em; margin: 0em; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_4Q1fvVv-I .om-canvas-content { width: 100%; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #row_oy_UiEn_L { min-height: 1.5625em; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_xOhJxedLr { text-align: center; width: 100%; max-width: 100%; font-size: 1.5em !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_xOhJxedLr .om-dtr-content { text-align: center !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_xOhJxedLr_wrapper.om-full { justify-content: center !important; display: flex !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_9QPjeWH8G .om-product-holder { width: calc(100% - 4.375em) !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-image img { margin-right: 0em; margin-bottom: 0.3125em; border-radius: 0em; border-style: solid; border-color: var(--om-color-6); border-width: 0.0625em; box-shadow: none; height: 7.5em; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-name { text-align: left; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-name span { font-weight: unset; font-style: unset; font-size: 1.125em; font-family: var(--om-font-1); color: var(--om-color-7); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-sku { text-align: left; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-sku span { font-weight: unset; font-style: unset; font-size: 0.8125em; font-family: var(--om-font-1); color: rgb(100, 100, 100); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-price { text-align: left; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-price span { font-weight: bold; font-style: unset; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-7); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-old-price { text-align: left; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-old-price span { font-weight: bold; font-style: unset; text-decoration: line-through; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-6); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta { background: rgba(0, 0, 0, 0); border-radius: 0em; border-style: solid; border-color: var(--om-color-0); border-width: 0.25em; box-shadow: none; width: 6.875em; height: 2.5em; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta-text { font-weight: bold; font-style: unset; font-size: 0.625em; font-family: var(--om-font-1); color: var(--om-color-0); align-self: center; text-align: center; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #col_SdHj-OMS4 { min-height: 2.5em; align-content: normal; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_zd94dxHdU { margin: 1.25em 13.75em 1.25em 1.25em; width: auto !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-tab-wrapper-v2 { margin: 0px auto; bottom: 0px; transform-origin: unset; left: 0px; right: 0px; top: unset; width: 100% !important; transform: unset !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_zd94dxHdU .om-canvas-content { width: 100%; }
}
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_4Q1fvVv-I { background: var(--om-color-5); border-radius: 0em; box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 16px 0px; min-height: 18.75em; font-family: "Open Sans"; justify-content: center; align-items: center; width: 28.125em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_4Q1fvVv-I .om-canvas-content { width: 100%; }
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_4Q1fvVv-I { width: 5.125em; margin: 0em; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_4Q1fvVv-I .om-canvas-content { width: 100%; }
}
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #row_oy_UiEn_L { background: transparent; box-shadow: none; border-radius: 0em; padding: 0.625em; font-family: Archivo; }
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #row_oy_UiEn_L { min-height: 1.5625em; }
}
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_xOhJxedLr { background: transparent; box-shadow: none; padding: 0.3125em; line-height: 1; color: var(--om-color-3); text-align: center; width: 100%; font-family: Archivo; max-width: 100%; font-size: 1em !important; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_xOhJxedLr"] { margin: 0.3125em; }
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_xOhJxedLr { text-align: center; width: 100%; max-width: 100%; font-size: 1.5em !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_xOhJxedLr .om-dtr-content { text-align: center !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_xOhJxedLr_wrapper.om-full { justify-content: center !important; display: flex !important; }
}
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_9QPjeWH8G .om-product-holder { align-items: center; background: transparent; border-radius: 0em; box-shadow: none; margin: 0.625em 2.1875em; width: 15.625em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-image img { margin: 0em 0.3125em 0em 0em; border-radius: 0em; border-style: solid; border-color: var(--om-color-6); border-width: 0.0625em; box-shadow: none; height: 6.875em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-swiper-button-prev { color: var(--om-color-0); background-color: rgba(0, 0, 0, 0); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-swiper-button-next { color: var(--om-color-0); background-color: rgba(0, 0, 0, 0); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-name { margin: 0em 0em 0.3125em; text-align: left; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-name span { font-weight: unset; font-style: unset; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-7); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-sku { margin: 0em 0em 0.625em; text-align: left; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-sku span { font-weight: unset; font-style: unset; font-size: 0.8125em; font-family: var(--om-font-1); color: rgb(100, 100, 100); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-price { margin: 0em 0em 0.3125em; text-align: left; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-price span { font-weight: bold; font-style: unset; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-7); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-old-price { margin: 0em 0.3125em 0.3125em 0em; text-align: left; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-old-price span { font-weight: bold; font-style: unset; text-decoration: line-through; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-6); }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta { background: rgba(0, 0, 0, 0); border-radius: 0em; border-style: solid; border-color: var(--om-color-0); border-width: 0.25em; box-shadow: none; margin: 0.3125em 0em; padding: 0.9375em; width: 6.875em; height: 2.5em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta-text { font-weight: bold; font-style: unset; font-size: 0.625em; font-family: var(--om-font-1); color: var(--om-color-0); align-self: center; text-align: center; }
@media (hover: hover) and (pointer: fine) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta:hover { background: var(--om-color-1) !important; border-color: var(--om-color-1) !important; }
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_9QPjeWH8G .om-product-cta:hover .om-product-cta-text { color: var(--om-color-0); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #ele_9QPjeWH8G .om-product-holder { width: calc(100% - 4.375em) !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-image img { margin-right: 0em; margin-bottom: 0.3125em; border-radius: 0em; border-style: solid; border-color: var(--om-color-6); border-width: 0.0625em; box-shadow: none; height: 7.5em; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-name { text-align: left; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-name span { font-weight: unset; font-style: unset; font-size: 1.125em; font-family: var(--om-font-1); color: var(--om-color-7); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-sku { text-align: left; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-sku span { font-weight: unset; font-style: unset; font-size: 0.8125em; font-family: var(--om-font-1); color: rgb(100, 100, 100); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-price { text-align: left; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-price span { font-weight: bold; font-style: unset; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-7); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-old-price { text-align: left; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-old-price span { font-weight: bold; font-style: unset; text-decoration: line-through; font-size: 1em; font-family: var(--om-font-1); color: var(--om-color-6); }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta { background: rgba(0, 0, 0, 0); border-radius: 0em; border-style: solid; border-color: var(--om-color-0); border-width: 0.25em; box-shadow: none; width: 6.875em; height: 2.5em; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 [data-margin="ele_ma_9QPjeWH8G"] .om-product-cta-text { font-weight: bold; font-style: unset; font-size: 0.625em; font-family: var(--om-font-1); color: var(--om-color-0); align-self: center; text-align: center; }
}
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #col_SdHj-OMS4 { background: rgba(180, 190, 203, 0); box-shadow: none; border-radius: 0em; padding: 0.3125em; align-items: flex-start; font-family: Archivo; }
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #col_SdHj-OMS4 { min-height: 2.5em; align-content: normal; }
}
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_zd94dxHdU { background: var(--om-color-5); border-radius: 0em; box-shadow: rgba(0, 0, 0, 0.1) 8px 8px 16px 0px; min-height: 3.125em; font-family: Archivo; padding: 0em 0em 0em 1.875em; justify-content: center; align-items: center; width: 21.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-tab-wrapper-v2 { bottom: 0px; left: 0px; margin: 1.25em; }
#om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_zd94dxHdU .om-canvas-content { width: 100%; }
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_zd94dxHdU { margin: 1.25em 13.75em 1.25em 1.25em; width: auto !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 .om-tab-wrapper-v2 { margin: 0px auto; bottom: 0px; transform-origin: unset; left: 0px; right: 0px; top: unset; width: 100% !important; transform: unset !important; }
}
@media screen and (max-width: 576px) {
  #om-campaign-67ac9a4b483b3f00238431c8-67ac9a4b483b3f00238431c8 #pge_zd94dxHdU .om-canvas-content { width: 100%; }
}