#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 { --om-color-0: #4a90e2; }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 .om_color_1 { color: rgb(74, 144, 226); }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 { --om-color-1: #203f62; }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 .om_color_2 { color: rgb(32, 63, 98); }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 { --om-color-2: #294f7c; }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 .om_color_3 { color: rgb(41, 79, 124); }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 { --om-color-3: #315f95; }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 .om_color_4 { color: rgb(49, 95, 149); }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 { --om-color-4: #396faf; }
#om-campaign-65d5fbd63034e600230c0502-65d5fbd63034e600230c0502 .om_color_5 { color: rgb(57, 111, 175); }