html.hs-messages-widget-open.hs-messages-mobile, html.hs-messages-widget-open.hs-messages-mobile body { overflow: hidden !important; position: relative !important; }
html.hs-messages-widget-open.hs-messages-mobile body { height: 100% !important; margin: 0px !important; }
#hubspot-messages-iframe-container { z-index: 2147483647; display: initial !important; position: fixed !important; bottom: 0px !important; }
#hubspot-messages-iframe-container:hover .hs-drag-handle--v2--widget-open--left, #hubspot-messages-iframe-container:hover .hs-drag-handle--v2--widget-open--right { display: flex !important; }
#hubspot-messages-iframe-container.widget-align-left { left: 0px !important; }
#hubspot-messages-iframe-container.widget-align-right { right: 0px !important; }
#hubspot-messages-iframe-container.internal { z-index: 1016; }
#hubspot-messages-iframe-container.internal iframe { min-width: 108px; }
#hubspot-messages-iframe-container .hs-shadow-container { z-index: -1; position: absolute; width: 0px; height: 0px; bottom: 0px; content: ""; display: initial !important; }
#hubspot-messages-iframe-container .hs-shadow-container.internal { display: none !important; }
#hubspot-messages-iframe-container .hs-shadow-container.active { width: 400px; height: 400px; }
#hubspot-messages-iframe-container iframe { display: initial !important; width: 100% !important; height: 100% !important; border: none !important; position: absolute !important; bottom: 0px !important; right: 0px !important; background: transparent !important; }
#hubspot-messages-iframe-container .hs-drag-handle--v2--widget-open--right { bottom: 20px; left: -5px; display: none !important; }
#hubspot-messages-iframe-container .hs-drag-handle--v2--widget-open--left { bottom: 20px; right: -5px; display: none !important; }
.hs-drag-handle { position: absolute; cursor: grab; height: 60px; display: none; align-items: center; transition: opacity 0.5s 0.5s; opacity: 1; }
.hs-drag-handle--v1--right { right: 82px; bottom: 12px; }
.hs-drag-handle--v1--left { left: 82px; bottom: 12px; }
.hs-drag-handle--v2--icon-launcher--right { bottom: 23px; left: 15px; }
.hs-drag-handle--v2--icon-launcher--left { bottom: 23px; right: 15px; }
.hs-drag-handle--v2--pill-launcher--right { bottom: 20px; left: 10px; }
.hs-drag-handle--v2--pill-launcher--left { bottom: 20px; right: 10px; }
.hs-drag-handle--v2--hidden--left, .hs-drag-handle--v2--hidden--right { opacity: 0 !important; pointer-events: none !important; transition: none !important; }
.hs-drag-overlay { position: absolute; inset: 0px; user-select: none; z-index: 999; display: none; }