.template-chooser-banner-wrapper { border: 1px solid rgb(227, 229, 232); border-radius: 12px; }
.text-wrapper { padding: 20px 24px; }
.line-break { line-break: normal !important; }
.buttons { padding-left: 10px; }